@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    border: 0px;
    outline: 0;
    appearance: none;
}
body{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

:root{
    --color-text: #222020;
    --hover-color: #8C1C1C;
    --color: #F29F05;
    --neon-box-shadow: 0 0 .5rem #70efbf;
    --index: calc(1vw + 1vh);
    --linerar-one: hsl(335,87%,53%);
    --linear-two: hsl(29,99%,67%);
    --gradient-line: linear-gradient(90deg, var(--linerar-one), var(--linear-two));
    --gradient-line-hover: linear-gradient(to bottom,hsl(29,99%,67%), hsl(335,87%,53%));
    --royal-blue-dark: hsl(231,68%,21%);
    --white: hsl(0,0%,100%);
    --color-text-blue: hsl(236, 57%, 28%);
    --section-spacing: 100px;
    --shadow-1: drop-shadow(0 20px 30px hsla(0,0%,0%, 0.1));

    --azul-palmertec: #215e9a;
    --rojo-palmertec: #f40000;
    --gris-palmertec: #d9d9d9; 
    --azul-2-palmertec: #023047;

    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: #393e46;


    --nayeli: #5d4037;
    --nayeli2: #7d3c48;
    --nayeli3: #5e2d36;
    --julio: #A63754;
    --julio2: #8a3f7f;
    --julio3: #8c2b32;
    --julio4: #5d5c31;
    --gris-azul: #d8d8d8;
    --andrea: #37606e;
    --luis: #fedde4;
    --julio5: hsl(5, 100%, 69%);
    --julio6: #ef4444;
    --pink: #E37383;
    --rose: #a23e66;
    --login: #9d48ff;



    --first-color: hsl(230, 62%, 56%);
    --title-color: hsl(230, 70%, 16%);
    --text-color: hsl(230, 16%, 45%);
    --border-color: hsl(230, 50%, 90%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-color: hsl(230, 100%, 97%);
    --shadow: 0px 2px 8px 0px var(--secondary-light);


}




/****************************************ADMIN PAGE HEADER***************************************************/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a,img,span,data,time,input,button,span.icon{
    display: block;
}
button{
    font: inherit;
    border: none;
    cursor: pointer;
    text-align: left;
}
body{
    padding-block-start: 72px;
    background: hsl(224, 20%, 96%);
}
:focus-visible{
    outline: 2px solid hsl(207,0%,21%);
    outline-offset: 1px;
}

.container-l{
    padding-inline: 15px;
}
.icon-box{
    font-variation-settings: 'wght' 300;
}
.icon-box .icon{
    font-size: 22px;
}

/* 
.navbar{
   display: none; 
}
   */
.header{
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    padding-block: 28px;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.5, 0, 0.50, 0.95); /*ïn*/
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.06%);
    z-index: 1;
}
.header.active{
    height: 370px;
    transition: 0.5s cubic-bezier(0.45, 0.85, 0.5, 1); /*out*/
}
.header > .container-l{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(220, 41%, 20%);
}
.menu-toggle-btn .icon{
    font-size: 28px;
}
.navbar{
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s cubic-bezier(0.45, 0.85, 0.5, 1); /*out*/
}
.header.active .navbar{
    opacity: 1;
    visibility: visible;
}
.navbar-list{
    padding-inline: 15px;
    margin-bottom: 15px;
}
.navbar-link{
    color: hsl(207, 8%, 21%);
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 6px;
}
:is(.navbar-link, .notification, .header-profile):is(:hover, :focus){
    background: hsla(0, 0%, 0%, 0.06%);
}
.navbar-link.active{
    color: var(--julio5);
}
.user-action-list{
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.notification{
    color: hsl(207, 8%, 21%);
    padding: 8px;
    border-radius: 6px;
}

.header-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 15px;
    border-radius: 6px;
}
.profile-avatar{
    overflow: hidden;
    border-radius: 6px;
}
.header :is(.profile-title, .profile-subtitle){
    font-size: 0.8rem;
}
.header .profile-title{
    color: hsla(207, 8%, 21%);
    margin-bottom: 2px;
    font-weight: 600;
}
.header .profile-subtitle{
    color: hsl(225, 11%, 59%);
}

/****************************************FOOTER***************************************************/
.footer{
    background: var(--white);
    padding-block: 25px;
}
.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}
.footer-link,
.copyright{
    color: hsl(210, 9%, 31%);
    font-size: .9rem;
    line-height: 1.7;
}
.footer-link, .copyright-link{
    display: inline-block;
    transition: 0.25s ease;
}
:is(.copyright-link, .footer-link):is(:hover, :focus){
    color: var(--julio5);
}
.footer-item:not(:last-child)::after{
    content: "-";
    color: hsl(0, 0%, 80%);
    font-weight: 600;
    margin-inline: 5px;
}
.copyright-link{
    color: inherit;
}


@media (min-width: 480px){
    .revenue-item {
        margin-bottom: 0;
    }
    .revenue-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 570px){
    .container-l{
        max-width: 550px;
        margin-inline: auto;
    }
    .navbar-list, .user-action-list{
        padding-inline: 0;
    }
    .card-price{
        font-size: 1.6rem;
    }
    .tasks .card-meta-list{
        justify-content: flex-end;
    }
}
@media (min-width: 768px){
    .container-l{
        max-width: 700px;
    }
    .progress-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .progress-item:not(:last-child){
        margin-bottom: 0;
    }
    .home .card-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px){
    .container-l{
        max-width: 950px;
    }
    .menu-toggle-btn{
        display: none;
    }
    .header{
        height: unset;
        padding-block: 10px;
    }
    .header.active{
        height: unset;
    }
    .navbar{
        all: unset;
        flex-grow: 1;
    }
    .navbar .container-l{
        display: flex;
    }
    .navbar-list{
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-inline: auto;
    }
    .user-action-list{
        flex-direction: row;
        gap: 20px;
    }
    .article.container-l {
        padding-block: 35px;
    }
    .home{
        grid-template-columns: 1.25fr 0.75fr 1fr;
    }
    .home .card-wrapper{
        grid-template-columns: 1fr;
    }
    .progress-list{
        align-items: flex-end;
    }
    .project-list{
        grid-template-columns: repeat(1,1fr);
    }
    .tasks .task-card{
        grid-template-columns: 1fr 0.5fr 0.5fr ;
        align-items: center;
    }
    .footer-list{
        margin-bottom: 0;
    }
    .footer .container-l{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 1200px){
    .container-l{
        max-width: 1180px;  /*1150*/
    }
    .navbar-list{
        gap: 25px;
    }
    .card-price{
        font-size: 1.7rem;
    }
}


.dbutton{
    display: inline-block;
    /*background-color: hsl(230, 62%, 56%); */
    background-color: var(--julio5);
    color: var(--white-color);
    font-size: .8rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    transition: box-shadow .4s;
}
.dbutton:hover{
    /*box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4); */
    box-shadow: 0 4px 32px var(--julio6);
}



/*************************************************GESTIONES TARGET************************************************/
/*****************************************PRODUCTS AND CATEGORIES***************************************************/
.main-c img, .main-c span, .main-c table, .main-c tbody, .main-c ion-icon
{
    display: block;
}
.main-c li{
    list-style: none;
}
.main-c a{
    text-decoration: none;
}
.main-c button, .main-c input{
    font: inherit;
}
.main-c input{
    width: 100%;
}

.container-c{
    padding-inline: 15px;
}
.section-c{
    padding-block: 60px;
}
.h1-c, .h2-c, .h3-c, .h4-c{
    color: hsl(217, 28%, 9%);
}
.h1-c{
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
}
.h2-c{
    font-size: 1.8rem;
}
.h3-c{
    font-size: 1.6rem;
}
.h4-c{
    font-size: 1.3rem;
    text-transform: uppercase;
}
.btn-c{
    background: hsl(5, 100%, 69%);
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 14px 25px;
    border: 1px solid hsl(217, 28%, 9%);
}
.btn-primary-c:is(:hover, :focus){
    background: hsl(5, 100%, 73%);
    border-color: hsl(5, 100%, 73%);
}
.btn-secondary-c{
    background: transparent;
    border-color: black;
    color: black;
}
.btn-secondary-c:is(:hover, :focus){
    background: hsla(0, 0%, 0%, 0.1);
}

.btn-link-c{
    background: hsla(0, 0%, 0%, 0.1);
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 14px 25px;
    border-color: transparent;
}
.btn-link-c:is(:hover, :focus){
    border-color: var(--white);
}

.hero-c{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero-title-c{
    margin-bottom: 10px;
}
.hero-title-c > strong {
    display: block;
}
.hero-text-c{
    color: hsl(0, 0%, 27%);
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 46ch;
    margin-bottom: 20px;
}


/*apartir de aqui */
.has-scrollbar-c{
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: inline mandatory;
}
.has-scrollbar-c > li{
    min-width: 100%;
    scroll-snap-align: start;
}
.has-scrollbar-c::-webkit-scrollbar {
    height: 10px;
}
.has-scrollbar-c::-webkit-scrollbar-track{
    background: var(--white);
    border-radius: 20px;
    outline: 2px solid hsl(5, 100%, 69%);
} 
.has-scrollbar-c::-webkit-scrollbar-thumb{
    background: hsl(5, 100%, 69%);
    border: 2px solid var(--white);
    border-radius: 20px;
}
.has-scrollbar-c::-webkit-scrollbar-button{
    width: calc(25% - 40px);
}
.card-banner-c{
    background: hsl(200, 12%, 95%);
    position: relative;
    height: 350px;
    overflow: hidden;
}
.image-contain-c{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: 0.5s ease;
}
.product-card-c:is(:hover, .focus) .image-contain-c{
    transform: scale(1.1);
}
.card-badge-c{
    position: absolute;
    top: 20px;
    left: 20px;
    background: hsl(5, 100%, 69%);
    color: var(--white);
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 25px;
}
.card-action-list-c{
    position: absolute;
    top: 20px;
    right: -20px; 
    opacity: 0; 
    transition: .25s ease;
}

.product-card-c:is(:hover, :focus) .card-action-list-c{
    right: 20px;
    opacity: 1;
}

.card-action-item-c{
    position: relative;
}
.card-action-item-c:not(:last-child){
    margin-bottom: 10px;
}
.card-action-btn-c{
    background: var(--white);
    color: hsl(217, 28%, 9%);
    font-size: 10px;
    padding: 10px;
    border-radius: 50%;
    transition: 0.25s ease;
    border: none;
}
.card-action-btn-c ion-icon{
    --ionicon-stroke-width: 30px;
}
.card-action-btn-c:is(:hover, :focus){
    background: hsl(5, 100%, 69%);
    color: var(--white);
}
.card-action-tooltip-c{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 5px);
    width: max-content;
    background: hsl(5, 100%, 69%);
    color: var(--white);
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: .25s ease;
}
.card-action-btn-c:is(:hover, :focus) + .card-action-tooltip-c{
    opacity: 1;
}
.card-content-c{
    padding: 24px 15px 0;
    text-align: center;
}
.card-cat-c{
    color: hsl(0, 0%, 27%);
    font-size: 1rem;
    margin-bottom: 12px;
}
.card-cat-link-c{
    display: inline-block;
    color: inherit;
    transition: 0.25s ease;
}
.card-cat-link-c:is(:hover, :focus) {
    color: hsl(5, 100%, 69%);
}
.product-card-c .card-title-c{
    margin-bottom: 12px;
}
.product-card-c .card-title-c > a{
    color: #35404e;
    font-size: 1.5rem;
    transition: .25s ease;
}
.product-card-c .card-title-c > a:is(:hover, :focus){
    color: hsl(5, 100%, 69%);
}
.card-price-c{
    color: hsl(5, 100%, 69%);
    font-weight: 600;
}



.product-c .section-title-c{
    text-align: center;
    margin-bottom: 25px;
}
.filter-list-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.filter-btn-c {
    color: hsl(0, 0%, 27%);
    padding: 10px 16px;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 30px;
    transition: all 0.3s ease; 
}

.filter-btn-c:hover {
    background-color: hsl(5, 100%, 80%);
    color: var(--white);
    border-color: hsl(5, 100%, 80%);
}

.filter-btn-c.active {
    background: hsl(5, 100%, 69%);
    color: var(--white);
    border-color: hsl(5, 100%, 69%);
    animation: active-glow 0.8s infinite alternate; 
}

@keyframes active-glow {
    0% {
        box-shadow: 0 0 8px hsl(5, 100%, 69%);
        transform: scale(1); 
    }
    100% {
        box-shadow: 0 0 8px hsl(5, 100%, 69%);
        transform: scale(1.05); 
    }
}



.product-list-c{
    display: grid;
    gap: 50px 25px;
}

.special-banner-c{
    height: 500px;
    width: auto;
    /*background-color: rgb(7,6,1); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.special-banner-c .banner-title-c{
    color: var(--white);
    font-weight: 600;
}
.special-c .section-title-c{
    margin-block: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.special-c .section-title-c .text-c{
    min-width: max-content;
    color: hsl(5, 100%, 69%);
}
.special-c .section-title-c .line-c{
    width: 100%;
    height: 1px;
    background: hsl(0, 0%, 88%);
}

@media (min-width: 575px){
    .container-c{
        max-width: 650px;
        width: 100%;
        margin-inline: auto;
    }
    .has-scrollbar-c > li{
        min-width: calc(50% - 12.5px);
    }
    .product-list-c{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 768px){
    .container-c{
        max-width: 720px;
    }
    .special-banner-c .banner-title-c {
        font-size: 2.2rem;
    }
    .special-product-c .has-scrollbar-c > li {
        min-width: 100%;
    }
    .special-c .container-c{
        display: flex;
        gap: 25px;
    }
    .special-c .section-title-c{
        margin-block-start: 0;
    }
    .special-banner-c, .special-product-c{
        min-width: calc(50% - 12.5px);
    }
}
@media (min-width: 992px){
    .container-c{
        max-width: 970px;
    }
    .has-scrollbar-c > li {
        min-width: calc(33.33% - 16.66px);
    }
    .product-list-c {
        grid-template-columns: repeat(3, 1fr);
    }
    .special-banner-c {
        min-width: calc(3333.33% - 25px);
    }
    .special-product-c .has-scrollbar-c > li {
        min-width: calc(50% - 12.5px);
    }
}
@media (min-width: 1200px){
    .container-c{
        max-width: 1280px;
    }
    .product-list-c{
        grid-template-columns: repeat(4, 1fr);
    }
    .special-banner-c {
        min-width: calc(25% - 25px);
    }
    .special-product-c .has-scrollbar-c > li {
        min-width: calc(33.33% - 16.66px );
    }

}



.search-gestion {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: hsl(0, 0%, 100%);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid hsl(0, 0%, 90%);
    padding: 5px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.search-gestion input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
}

.search-gestion .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: var(--julio6);
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-gestion:hover {
    width: 300px;
    cursor: pointer;
}

.search-gestion:hover input {
    display: block;
}

.search-gestion:hover .fa {
    background: var(--julio5);
    color: white;
}


